@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i&display=swap&subset=cyrillic');

.plan {
    height: 100%;
    color: #0c0c0c;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    font-size: 16rem;
}

.padding_bottom {
    /*padding-bottom: 70rem;*/
}

.center-content {
    /*padding: 0px 30rem;*/
}

.plan__head {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26rem;
    line-height: 32rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    margin-bottom: 17rem;
}

.plan-table {
    position: relative;
    display: flex;
}

.plan-table__col {
    width: 8.3333%;
    min-width: 125px;
    display: flex;
    flex-direction: column;
}

.plan-table__content {
    flex-grow: 1;
    border-right: 1px solid rgb(0, 0, 0);
}

.plan-table__th {
    height: 44rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0);
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 11rem;
    line-height: 13rem;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
}

.plan-table {
    border-width: 0px 1px 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-image: initial;
    border-top-style: initial;
    border-top-color: initial;
}

.plan-table__row {
    margin-bottom: 2rem;
}

.plan__wrap {
    position: relative;
}

.plan__time {
    position: absolute;
    width: 1000rem;
    height: 100%;
    background: linear-gradient(90.46deg, rgb(240, 240, 240) 0.1%, rgb(237, 237, 237) 99.46%);
}

.plan-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 217rem;
    position: relative;
    background: rgb(255, 255, 255);
}

.plan-card__img-wrap {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.plan-card_type-1 {
    background: linear-gradient(rgb(255, 200, 200) 0%, rgb(255, 238, 238) 100%);
}

.plan-card_type-2 {
    background: linear-gradient(91.67deg, rgb(255, 241, 218) 0%, rgb(249, 213, 175) 98.83%);
}

.plan-card_type-3 {
    background: linear-gradient(151.02deg, rgb(248, 244, 255) 11.7%, rgb(255, 250, 242) 88.26%);
}

.plan-card_type-4 {
    background: linear-gradient(92.59deg, rgb(238, 250, 255) -1.98%, rgb(255, 246, 241) 100%);
}

.plan-card_type-5 {
    background: linear-gradient(rgb(234, 251, 216) 0%, rgb(249, 249, 249) 100%);
}

.plan-card_type-6 {
    background: radial-gradient(1741.65% 546.51% at 0% 100%, rgb(248, 252, 233) 0%, rgb(255, 248, 238) 36.83%, rgb(255, 243, 230) 100%);
}

.plan-card_type-7 {
    background: linear-gradient(108.89deg, rgb(255, 244, 225) -19.99%, rgb(250, 250, 250) 100.05%);
}

.plan-card__type {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 8rem;
    line-height: 10rem;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    margin-bottom: 20rem;
}

.plan-card__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    align-items: center;
    padding: 10rem;
}

.plan-remove {
    display: inline-flex;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 8rem;
    line-height: 10rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-decoration: none;
    /*margin-top: auto;*/
}

.plan-remove__icon-wrap {
    margin-right: 7rem;
}

.plan-remove__icon {
    display: block;
}

.plan-card__name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10rem;
    line-height: 12rem;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    margin-bottom: 4rem;
}

.plan-card__date {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 10rem;
    line-height: 12rem;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    margin-bottom: 2rem;
}

.plan-card__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 7rem;
    line-height: 9rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    margin-bottom: 14rem;
}

.mt_15 {
    margin-top: 15rem;
}

.mt_40 {
    margin-top: 40rem;
}

.mb_20 {
    margin-bottom: 20rem;
}

.mb_30 {
    margin-bottom: 30rem;
}