/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
    height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

button{
    border: 0;
    outline: none;
    cursor: pointer;
    background: none;
}

button:active{
    outline: none;
}

ol,
ul {
    list-style-position: inside;
}

strong {
    font-weight: 700;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
table:not([class]){

}
td:not([class]),
th:not([class]) {
    padding: 25rem 20rem;
    text-align: left;
    border: 1rem solid #E5E8EE;;
    background: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 18rem;

    color: #505963;
}
th:not([class]) {
    border-bottom: 2rem solid #FF5332;
    font-style: normal;
    font-weight: bold;
    font-size: 20rem;
    line-height: 24rem;/* identical to box height */
    background: none;
    color: #FF5532;
}
tr:not([class]) td:last-child,
tr:not([class]) th:last-child {
    border-right: 0;
}

h1:not([class]) {
    font-style: normal;
    font-weight: 500;
    font-size: 0.40rem;
    line-height: 0.49rem;
    text-transform: uppercase;
    margin-bottom: 35rem
}

h2:not([class]) {
    font-style: normal;
    font-weight: 500;
    font-size: 0.40rem;
    line-height: 0.49rem;
    text-transform: uppercase;
    margin-bottom: 20rem;
}

h3:not([class]) {
    font-style: normal;
    font-weight: 500;
    font-size: 0.30rem;
    line-height: 0.37rem;
    text-transform: uppercase;
    color: #A98B68;
    margin-bottom: 20rem;
}
a:not([class]), a {
    color: #000;
    text-decoration: none;
}
p:not([class]) {
    margin-bottom:25rem;
    font-family: TT Norms;
    font-style: normal;
    font-weight: normal;
    font-size: 16rem;
    line-height: 26rem;
    color: #766C5F;
}
ol:not([class]),
ul:not([class]) {
    margin-bottom: 15rem;
}

ol:not([class]), ul:not([class]) {
    list-style-position: inside;
    margin-bottom: 20rem;
}
i{
    font-style: italic;
}

ol:not([class]) {
    counter-reset: ol-counter;
}
ol:not([class]) li {
    position: relative;
    padding-left: 30rem;
}
ul:not([class]) li {
    list-style: none;
    position: relative;
    padding-left: 30rem;
}
ol:not([class]) li:before {
    content: counter(ol-counter) ".";
    counter-increment: ol-counter;
    font-style: normal;
    position: absolute;
    left: 0rem;
    top: -0.05rem;
    color: #505963;
    font-weight: 800;
}


ul:not([class]) li:before {
    content: "";
    display: block;
    width: 18rem;
    height: 3rem;
    background-color:  #505963;;
    position: absolute;
    left: 0rem;
    top: 8rem;
}


li:not([class]){
    margin-bottom: 8rem;
}
*{
    box-sizing: border-box
}
label{
    user-select: none;
}
img{
    max-width: 100%;
}