@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i&display=swap&subset=cyrillic');

body {
  height: 100%;
  color: #0c0c0c;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  font-size: 16rem;
  &::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
    background: #E5E5E5;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #A98B68;
  }

  &::-webkit-scrollbar{
    height: 1rem;
    width: 1rem;
    background: #E5E5E5;
  }
  &::-webkit-scrollbar-thumb:horizontal{
    background: #A98B68;
  }


  &.noScroll{
    overflow: hidden;
    .wrapper{
      padding-right: 16rem;
    }
  }

}
.wrapper {
  width: 100%;
  min-width: 1200rem;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
  height: 135rem;
}
.header__center{
  .flex;
  .flex_ac;
  height: 100%;
}
.menu{
  .flex;
}
.header__right{
  margin-left: auto;
  padding-right: 35rem;
}
.logo{
  margin-left: 15rem;
  margin-right: 70rem;
}
.logo__img{
  display: block;
  width: 102rem;
}
.menu__link{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14rem;
  line-height: 17rem;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  .hover-brd;
  &.active{
    opacity: 0.45;
  }
}
.hover-brd(@color:#707070, @bottom:-10rem){
  position: relative;
  &:hover{
    opacity: 0.45;
    /*&:after{
      text-decoration: underline;
      content: "";
      width: 100%;
      height: 2px;
      background: @color;
      bottom: @bottom;
    position: absolute;
      left: 0;
    }*/
  }
}
.menu__element{
  margin-right: 29rem;
  position: relative;
  &:hover{
    .menu-drop{
      display: block;
    }
  }
}
.menu__element-shop{
  margin-top: 40rem;
}
.menu-drop{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3;
  padding-top: 30rem;
  display: none;
}
.menu-drop__wrap{
  background: #212121;
  box-shadow: 0rem 4rem 50rem rgba(0, 0, 0, 0.25);
  padding-left: 36rem;
  padding-top: 56rem;
  padding-right: 165rem;
  padding-bottom: 59rem;
}
.menu__child_drop{
  .menu__child-head-link{
    color: #666666;
  }
  .menu__child-link{
    color: #FFFFFF;
    white-space: nowrap;
    height: 35rem;
    padding: 0 25rem;
    .flex;
    .flex_ac;
    &:hover{
      background: #3F3F3F;
    }
  }
  .menu__child-element{
    margin-bottom: 0;
  }
  .menu__child-head{
    margin-left: 25rem;
  }
}
.menu_footer{
  .menu__link{
    font-weight: bold;
    margin-bottom: 18rem;
    display: inline-block;
  }
}
.menu__child-head-link{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 10rem;
  line-height: 12rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.menu__child-head{
  margin-bottom: 11rem;
}
.menu__child-link{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 10rem;
  line-height: 12rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
a.menu__child-link{
  .hover-brd();
}
.menu__child-element{
  margin-bottom: 11rem;

}
.menu__child{
  .flex;
}
.menu__child-wrap{
  margin-right: 40rem;
}
.menu_footer-right{
  .menu__child-wrap{
    margin-right: 0;
    margin-left: 70rem;
  }
  .menu__element{
    margin-right: 0;
    text-align: right;
    margin-left: auto;
  }
}
.header__right-top{
  .flex;
  .flex_ac;
  .flex_hr;
  margin-bottom: 17rem;
}
.times{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13rem;
  line-height: 16rem;
  color: #000000;
  margin-right: 50rem;
}
.phone{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14rem;
  line-height: 17rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
.header__user{
  .flex;
  .flex_ac;
  .flex_hr;
}
.header__user-price{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14rem;
  line-height: 17rem;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #000000;
}
.header__user-nav{
  .flex;
  .flex_ac;
  margin-left: 35rem;
}
.header__user-link{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14rem;
  line-height: 17rem;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  .hover-brd;
}
.cart-btn__icon-wrap{
  margin-bottom: 6rem;
}

.cart-btn__icon{
  display: block;
  width: 16rem;
}
.cart-btn__status{
  background: #FF0000;
  border: 2rem solid #FFFFFF;
  width: 13rem;
  height: 13rem;
  border-radius:100%;
  position: absolute;
  top: 2rem;
  right: -8rem;
}
.cart-btn{
  .flex;
  .flex_ac;
  position:relative;
  text-decoration: none;
}
.cart-btn__count{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14rem;
  line-height: 17rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin-left: 5rem;
}


.not-btn__icon-wrap{
  margin-bottom: 6rem;
}

.not-btn__icon{
  display: block;
  width: 17rem;
}
.not-btn__status{
  background: #FF0000;
  border-radius: 10rem;
  position: absolute;
  top: -7rem;
  right: -20rem;
  height: 19rem;
  .flex;
  .flex_ac;
  padding: 0 7rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14rem;
  line-height: 17rem;
  text-transform: uppercase;
  color: #FFFFFF;
}
.not-btn{
  .flex;
  .flex_ac;
  position:relative;
  cursor: pointer;
}
.not-btn__count{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14rem;
  line-height: 17rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin-left: 5rem;
}
.not-btn__wrap{
  position: relative;
}
.not-drop{
  position: absolute;
  top: 100%;
  right: -30rem;
  width: 575rem;
  padding-top: 30rem;
  z-index: 3;
  .animate-opacity;

}
.not-drop__wrap{
  background: #fff;
}
.not-drop__header{
  height: 68rem;
  background: linear-gradient(109.3deg, #FFE9E9 0%, #FFBFBF 98.83%);
}
.not-drop__header-content{
  .flex;
  .flex_ac;
  height: 100%;
  padding: 0 27rem ;
}
.not-drop__content{
  padding-left: 43rem;
  padding-top: 19rem;
  padding-right: 15rem;
  .notification__element{
    border-bottom: 0;
  }
}
.not-drop__scroll{
  max-height: 650rem;
  padding-right: 34rem;
  overflow: auto;
  .scroll-custom;

}
.not-drop__header-icon-wrap{
  margin-right: 17rem;
}
.not-drop__header-icon{
  display: block;
}
.not-drop__footer{
  height: 50rem;
  .flex;
  .flex_center;
}
.not-drop__footer-hint{

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14rem;
  line-height: 17rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.not-drop__header-hint{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20rem;
  line-height: 24rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.header__user-not{
  margin-left: 45rem;
}
.user-name__val{

  margin-right: 11rem;

}
.user-name__val-link{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14rem;
  line-height: 17rem;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #000000;
  display: block;
  text-decoration: none;
  .hover-brd();
}
.user-name{
  margin-left: 50rem;
  position: relative;
  &:hover{
    .user-drop{
      display: block;
    }
  }
}
.user-name__wrap{
  .flex;
  .flex_ac;
}
.user-name__wrap_footer{
  margin-bottom: 20rem;
  .flex_hr;
}
.user-name__icon{
  display: block;
  width: 18rem;
}
.header__user-cart{
  margin-left: 47rem;
}
.user-drop{
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 2;
  padding-top: 20rem;
  display: none;
}
.user-drop_footer{
  bottom: 100%;
  padding-top: 0;
  padding-bottom: 20rem;
  top: auto;
}
.user-drop__wrap{
  background: #212121;
  box-shadow: 0rem 4rem 50rem rgba(0, 0, 0, 0.25);
  min-width: 400rem;
  padding-top:27rem ;
}
.user-drop__link{
  padding-left: 47rem;
  padding-right: 50rem;
  height: 61rem;
  .flex;
  .flex_ac;
  text-decoration: none;
  &:hover{
    background: #3F3F3F;
  }
}
.user-drop__hint{
  white-space: nowrap;
}
.user-drop__icon{
  display: block;
}
.user-drop__icon-wrap{
  margin-right: 29rem;
}
.user-drop__hint{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14rem;
  line-height: 17rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
}
.user-drop__element_exit{
  padding-top: 10rem;
  padding-bottom: 10rem;
  border-top: 1rem solid #494949;
  margin-top: 20rem;
}
/* Middle
-----------------------------------------------------------------------------*/
.content {
  padding: 0 0 295rem;
}

.category__img{
  display: block;
  width: 100%;
}

.categoty__hint{
  margin-bottom: 26rem;
  position: relative;
}
.categoty__hint-note{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12rem;
  line-height: 15rem;
  text-align: center;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #000000;
  position: absolute;
  .h_mid;
  bottom: 100%;
}

.category__content{
  position: absolute;
  top: 45rem;
  left: 40rem;
}
.category{
  .list;
}

.list{
  .flex;
  .flex_wrap;
  padding-left: 30rem;
  padding-right: 20rem;
}

.list-default{
  .flex;
  .flex_wrap;
  padding-left: 30rem;
  padding-right: 10rem;
}

.category__element_type-1{
  width: 100%;
  .category__hint-link{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 90rem;
    line-height: 110rem;
    /* identical to box height */
    letter-spacing: 0em;
    text-transform: uppercase;

    color: #000000;
  }
  .category__content{
    .i_center;
  }
}
.category__element_type-2{
  width: 50%;
}
.category__element_type-3{
  width: 33.3%;
}
.category__element{
  padding-right: 10rem;
  padding-bottom: 10rem;
  position: relative;
}
.category__hint-link{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 35rem;
  line-height: 43rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
a.category__hint-link{
  .hover-brd();
}
.category__child-link{
  display: inline-block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 13rem;
  line-height: 16rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
a.category__child-link{
  .hover-brd();

}
.category__child-element{
  margin-bottom: 20rem;
}
.category__adds-hint{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 10rem;
  line-height: 12rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #CCB2A4;
}
.category__adds-hint{
  margin-bottom: 10rem;
}
.category__child{
  margin-bottom: 22rem;
}
.marketing-top{
  padding-left: 39rem;
  padding-right: 54rem;
  margin-bottom: 17rem;
  .flex;
  .flex_ac;
}
.marketing__head{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30rem;
  line-height: 37rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #000000;
}
.marketing__left{
  .flex;
  .flex_ac;
}
.marketing__right{
  margin-left: auto;
}

.marketing__nav{
 .flex;
  .flex_ac;
}

.marketing__nav-link{
  .flex;
  .flex_ac;
  .marketing__nav-icon-wrap{
    .animate;
  }
  &:hover{
    .marketing__nav-hint{
    color: #6e6e6e;

    }
    .marketing__nav-icon-wrap{
      transform: translate(-5rem, 0rem);
    }
  }
}
.marketing__nav-hint{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 13rem;
  line-height: 16rem;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.marketing__nav-link{
  text-decoration: none;
  margin-left: 54rem;
}
.marketing__nav-icon-wrap{
  margin-right: 13rem;
}
.marketing__img{
  display: block;
}
.marketing__element{
  position: relative;
  margin: 8rem 0;
}
.marketing__img-wrap{
  width: calc(~'100% - 16rem');
}
.marketing__content{
  position: absolute;
  left: 40rem;
  top: 40rem;
  max-width: 250rem;
}
.marketing__hint-link{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30rem;
  line-height: 37rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  .hover-brd()
}

.marketing{
  .list;
}

.marketing-box{
  margin-bottom: 54rem;
}
.back-btn{
  margin-right: 18rem;
}
.back-btn__icon{
  display: block;
  width: 20rem;
}
.personal__wrap{
  .flex;
}
.personal__element{
  width: 50%;
  position: relative;
}
.personal__element_personal{
  height: 575rem;
  background: url("../img/p-main-1.jpg")no-repeat center;
  background-size: cover;



}
.personal__content{
  //.i_center;
  text-align: center;
}
.personal__head{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 50rem;
  line-height: 61rem;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 170rem;

  color: #000000;
}
.personal__link{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14rem;
  line-height: 17rem;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
  .personal__element_trenings{
  background: #FFF9EF;
    background: url("../img/p-main-2.jpg")no-repeat center;
    background-size: cover;
}
.personal__link-wrap{
  position: absolute;
  bottom: 110rem;
  width: 100%;
}
.shop__wrap{
  //.list;
  padding-left: 20rem;
  padding-right: 20rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "shop-1 shop-1 shop-2" "shop-3 shop-4 shop-2" "shop-5 shop-5 shop-6" "shop-7 shop-7 shop-7";
  grid-column-gap: 10rem;
  grid-row-gap: 10rem;
}

.shop-1 { grid-area: shop-1; background: #FFF9EF;}

.shop-2 { grid-area: shop-2; background: #F2F2F2;}

.shop-3 { grid-area: shop-3; background: #FFFCEA;}

.shop-4 { grid-area: shop-4; background: #FCF6F5;}

.shop-5 { grid-area: shop-5; background: #F4F0E9;}

.shop-6 { grid-area: shop-6; background: #F4F8F3;}

.shop-7 { grid-area: shop-7; background: #F4F8F3;}

.shop__box{
  position: relative;
  height: 100%;
  overflow: hidden;
}
.shop-hover{
  position: relative;
  &:after{
    content: '';
    .fullSize;
    background: #000;
    opacity: 0;
    .animate;
    pointer-events: none;
  }
  .shop-info__city, .shop-info__title, .shop-info__adds, .shop__more-link{
   position: relative;
    z-index: 2;
    .animate;
  }
  &:hover{
    .shop-info__city, .shop-info__title, .shop-info__adds, .shop__more-link{
      color: #fff;
    }
    &:after{
      opacity: 0.5;
    }
  }
}
.shop-1 {
  .shop-hover;
  .shop__box{
  height: 448rem;
    .flex;
  }
  .shop__img-wrap{
    width: 60%;
    height: 448rem;

  }
  .shop__content{
    width: 40%;
  }
  .shop__img{
    right: 0;
    .v_mid;
    .animate;
    max-width: none;
  }
  &:hover{
    .shop__img{
      width: 1250rem !important;
    }
  }
}

.shop-5 {
  .shop-hover;
  .shop__box{
  height: 448rem;
    .flex;
  }
  .shop__img-wrap{
    width: 64%;
    height: 448rem;
  }
  .shop__content{
    width: 36%;
  }
  .shop__img{
    right: 0;
    .v_mid;
    .animate;
    max-width: none;
  }
  &:hover{
    .shop__img{
      width: 1250rem !important;
    }
  }
}

.shop-2, .shop-3, .shop-4, .shop-6 {
  .shop-hover;
  .shop__box{
    .flex;
    .flex_vertical;
  }
}
.shop-3, .shop-4, .shop-6 {
  .shop__box{
    height: 448rem;

  }
  .shop__img-wrap{
    height: 269rem;
  }

  .shop__img{
    bottom: 0;
    height: 267rem;
    .h_mid;
    .animate;
    max-width: none;
  }
  &:hover{
    .shop__img{
      height: 448rem;
      width: 1032rem!important;
    }
  }

}
.shop-2 {
  .shop__box{
    height: 906rem;

  }
  .shop__img-wrap{
    height: 720rem;
  }

  .shop__img{
    bottom: 0;
    height: 720rem;
    .h_mid;
    .animate;
    max-width: none;
  }
  &:hover{
    .shop__img{
      height: 906rem;
      width: 773rem!important;
    }
  }
}

.shop-7 {
  .shop-hover;
  .shop__box{
    height: 448rem;
    .flex;
  }
  .shop__img-wrap{
    width: 60%;
    height: 448rem;

  }
  .shop__content{
    width: 40%;
  }
  .shop__img{
    right: 0;
    .v_mid;
    .animate;
    max-width: none;
  }
  &:hover{
    .shop__img{
      width: 1430rem !important;
    }
  }
}
.shop__content{
  .flex_grow;

}
.shop__content-wrap{
  position: absolute;
  left: 40rem;
  top: 40rem;
}

.shop__img-wrap{
  //.flex_no-shrink;
  position: relative;
}
.shop__img{
  display: block;
  width: 100%;
  position: absolute;
  right: 0;
  .animate;
  object-fit: cover;
}
.shop-info{
  font-size: 100rem;
}
.shop-info_mini{
  font-size: 80rem;
}
.shop-info__city{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 0.14em;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 0.05em;
}
.shop-info__title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 0.30em;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 0.08em;
  color: #000000;
}
.shop-info__adds{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 0.14em;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.shop__more-link{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14rem;
  line-height: 17rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
.shop__more-link-wrap{
  position: absolute;
  left: 40rem;
  bottom: 40rem;
}
.promzone{
  margin-bottom: 60rem;
}
.promzone__element{
  &.active{
    .promzone__head{
      .flex;
      //.flex_ac;
    }
    .promzone__shops{
      //display: none;
      opacity: 0;
    }
    .promzone__drop{
      max-height: 500rem;
    }
    .promzone__more-btn .btn__icon-wrap{
      .cssRotate(180deg)
    }
  }
}

.promzone__element-wrap{
  .flex;
  .flex_ac;
  .flex_sb;
  .flex_wrap;
  padding-bottom: 133rem;
  padding-left: 82rem;
  padding-top: 125rem;
  padding-right: 136rem;
  margin-bottom: 11rem;
}
.promzone__drop{
  width: 100%;
  max-height: 0rem;
  overflow: hidden;
  //.cssAnimate;
  .animate;
}
.promzone__drop-wrap{
  .flex;
  width: 100%;
  padding-top: 90rem;
}
.promzone__drop-block{
  width: 25%;
  padding-right: 80rem;
}
.promzone__drop-top{
  padding-bottom: 20rem;
  border-bottom: 1px solid #000000;
  margin-bottom: 15rem;
  display: block;
}
.shop-info__attr-element{
  .flex;
  .flex_at;
  margin-bottom: 20rem;
}
.shop-info__attr-label{
  width: 186rem;
  padding-right: 10rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  color: #000000;
}
.shop-info__attr-val{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  color: #000000;
  margin-left: auto;
}
.promzone__element_type-1{
  background: linear-gradient(99.71deg, #FFF9EF 0%, #FFF3E6 98.83%);
}
.promzone__element_type-2{
  background: linear-gradient(103.61deg, #F9F9F9 0%, #E9E9E9 100%);
}
.promzone__element_type-3{
  background: linear-gradient(91.28deg, #FFF4F0 0.78%, #FFEAEA 99.11%);
  .promzone__title-link{
    font-size: 30rem;
  }
}
.promzone__element_type-4{
  background: #FBF8F6;
  .promzone__title-link{
    font-size: 30rem;
  }
}
.promzone__element_type-5{
  background: linear-gradient(103.34deg, #EEFAFF -1.98%, #FFF6F1 100%);
}

.promzone__element_type-6{
  background: linear-gradient(179.83deg, #FFF9EF 45.55%, #FAF4FF 98.21%);
  .promzone__title-link{
    font-size: 30rem;
    line-height: 37rem;
  }
  .promzone__element-wrap{
    .flex_at;
  }
}
.promzone__element_type-7{
  .prom-other__element-wrap{
    background: radial-gradient(1741.65% 546.51% at 0% 100%, #FBF5FF 0%, #FFF4E8 100%);
  }
}
.promzone__element_type-8{
  .prom-other__element-wrap{
    background: linear-gradient(3.67deg, #D5F0FF 0.38%, #EFEFEF 57.67%);
  }
}
.promzone__left{
  .flex;
  min-height: 170rem;
  width: 50%;
  //margin-right: 10%;
}
.promzone__img-wrap{
  margin-right: 40rem;
  width: 120rem;
  .flex_no-shrink;
}
.promzone__img{
  display: block;
}
.promzone__title-link{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 40rem;
  line-height: 49rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.prom-other__title-link{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30rem;
  line-height: 37rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.prom-other{
  .flex;
  .list-default;
  margin-bottom: 30rem;
}

.prom-other__element-wrap{
  .flex;
  padding-top: 35rem;
  padding-left: 83rem;
  padding-right: 50rem;
  padding-bottom: 84rem;
}
.prom-other__img-wrap{
  width: 120rem;
  margin-right: 86rem;
}
.prom-other__title{
}
.prom-other__note{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  line-height: 30rem;
  /* identical to box height, or 214% */

  color: #000000;
  margin-bottom: 30rem;
}
.prom-other__note_mt{
  margin-top: 23rem;
}
.prom-other__shop{
  margin-bottom: 54rem;
}
.prom-other__bottom{
  .flex;
  .flex_ac;
  .prom-other__price{
    margin-right: 60rem;
  }
}
.prom-other__element{
  width: 50%;
  padding-right: 20rem;
}
.promzone__title{
  //width: 200rem;
  margin-bottom: 30rem;
  margin-right: 20rem;

}
.prom-other__content{
  padding-top: 25rem;
}
.promzone__center{
  width: 560rem;
  width: 35%;
  //margin: 0 auto;
}
.promzone__right{
  width: 15%;
}
.promzone__more-btn{
  text-align: center;
}
.promzone__shops{
  .flex;
  .flex_ac;
  .flex_sb;
  .flex_wrap;
  opacity: 1;
  .animate;
}
.promzone__shops-element{
  width: 45%;
  margin-bottom: 66rem;
  cursor: pointer;
  &:last-child{
    margin-bottom: 0;
  }
  &:nth-last-child(2){
    margin-bottom: 0;
  }
}

.promad{
}
.promad__list{
  .flex;
  margin-bottom: 100rem;
}
.promad__wrap{
  .flex;
  padding-top: 85rem;
}
.promad__left{
  margin-right: 170rem;
}
.promad__block{
  margin-right: 210rem;
}
.promad__top{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16rem;
  line-height: 20rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.promad__note{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  line-height: 17rem;
  color: #000000;
  margin-bottom: 33rem;
}
.top-card{
  margin: 0 20rem;
  margin-bottom: 10rem;
}
.top-card_promzon{
  background: linear-gradient(180deg, #F8FDE9 0%, #FDF3E9 100%);
}
.top-card_site{
  background: linear-gradient(180deg, #FBEAD8 0%, #F9F9F9 100%);
  .top-card__wrap{
    padding-right: 316rem;
  }
}

.top-card__wrap{
  .flex;
  .flex_ac;
  padding-left: 145rem;
  padding-right: 159rem;
}

.top-card__title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 64rem;
  line-height: 78rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 28rem;
}
.top-card__note{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13rem;
  line-height: 16rem;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.top-card__img-wrap{
  margin-left: auto;
}
.top-card__img{
  display: block;
}

.top-card__wrap{

}


.festival__wrap{
  .flex;
  .flex_wrap;
}

.festival__element{
  margin-bottom: 10rem;
  padding-right: 10rem;
}

.festival__element_big{
  .festival__element-wrap-big{
    background: linear-gradient(180deg, #F8FDE9 0%, #FDF3E9 100%);
  }
  width: 100%;
}
.festival__element-wrap-big{
  .flex;
  .flex_ac;
  padding-left: 145rem;
  padding-right: 159rem;
}
.festival-card__big-img-wrap{
  margin-left: auto;
}
.festival-card__big-img{
  display: block;
}
.festival-card__big-title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 64rem;
  line-height: 78rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 28rem;
}
.festival-card__big-note{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13rem;
  line-height: 16rem;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.festival__element-wrap{
  padding-top: 54rem;
  padding-left: 103rem;
  padding-right: 70rem;
  padding-bottom: 74rem;
}
.festival__element_small{
  width: 26%;
}
.festival-card__big-img{
  display: block;
}
.festival-card__img-wrap{
  margin-bottom: 44rem;
  height: 132rem;
  .flex;
  .flex_ab;
}
.festival-card__img{
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.festival-card__title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30rem;
  line-height: 37rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 10rem;
}
.festival-card__note{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  line-height: 30rem;
  color: #000000;
}
.festival-card__note-list{
  margin-bottom: 40rem;
}
.festival__element_type-2{
  .festival__element-wrap{
    background: radial-gradient(764.33rem at 0% 100%, #F8FCE9 0%, #FFF8EE 36.83%, #FFF3E6 100%);
  }
}
.festival__element_type-3{
  .festival__element-wrap{
    background: linear-gradient(10.28deg, #F8FDE9 0.38%, #F9F9F9 34.45%, #E9E9E9 99.47%);
  }
}
.festival__element_cond{
  .flex_grow;
}
.festival__cond-head{

}
.festival__cond-wrap{
  padding-top: 73rem;
  padding-left: 78rem;
  padding-right: 50rem;
}
.festival__cond-head{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30rem;
  line-height: 37rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 28rem;
}
.festival__cond-element{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16rem;
  line-height: 30rem;
  color: #000000;
  margin-bottom: 10rem;
}
.content-fon{
  position: relative;
  margin: 0 30rem;
}
.content-fon_client{
    background: linear-gradient(137.28deg, #FFF4E1 -19.99%, #FAFAFA 100.05%);
}
.content-fon_mot{
  background: linear-gradient(180deg, #FFF5EC 0%, #FFEAEA 100%);
  .event-client__top-left{
    width: 60%;
  }
  .event-client__top-right{
    width: 40%;
    .flex;
    .flex_hr;
    .flex_ab;
    margin-top: auto;

  }
  .event-client__top-img-wrap{
    margin-right: 220rem;
  }
}
.content-fon_event-client{
  background: linear-gradient(168.4deg, #FFF4F1 0%, #FAFAFA 100.27%);
  .event-client__top-left{
    width: 60%;
  }
  .event-client__top-right{
    width: 40%;
    .flex;
    .flex_hr;
    .flex_ab;
    margin-top: auto;

  }
  .event-client__top-img-wrap{
    margin-right: 176rem;
  }
}

.content-fon_prom{
  background: linear-gradient(180deg, #F8FDE9 0%, #FDF3E9 100%);
  .event-client__top-left{
    width: 60%;
  }
  .event-client__top-right{
    width: 40%;
    .flex;
    .flex_hr;
    .flex_ab;
    margin-top: auto;

  }
  .event-client__top-img-wrap{
    margin-right: 159rem;
  }
}

.content-fon_digital-site{
  background: linear-gradient(180deg, #FBEAD8 0%, #F9F9F9 100%);
  .event-client__top-left{
    width: 44%;
  }
  .event-client__top-right{
    width: 56%;
    .flex;
    .flex_hr;
    .flex_ab;
    margin-top: auto;

  }
  .event-client__top-img-wrap{
    margin-right: 316rem;
  }
}

.content-fon_digital-app{
  background: linear-gradient(180deg, #FEF7EE 0%, #FFFBDC 100%);
  .event-client__top-left{
    width: 49%;
  }
  .event-client__top-right{
    width: 61%;
    .flex;
    .flex_hr;
    .flex_ab;
    margin-top: auto;

  }
  .event-client__top-img-wrap{
    margin-right: 70rem;
  }
  .event-client__top-img{
    width: 1060rem;
  }
}

.content-fon_personal{
  background: linear-gradient(178.91deg, #F4F8F3 2.59%, #FFF2F2 98.53%);
  .event-client__top-left{
    width: 49%;
  }
  .event-client__top-right{
    width: 61%;
    .flex;
    .flex_hr;
    .flex_ab;
    margin-top: auto;

  }
  .event-client__top-img-wrap{
    margin-right: 166rem;
  }
  .event-client__top-content{
    width: 115%;
  }
}

.content-fon_digital-inst{
  background: linear-gradient(150.25deg, #FFF4E8 1.47%, #FFF2F8 69.13%, #F6F0FF 102.17%);
  .event-client__top-left{
    width: 36%;
  }
  .event-client__top-right{
    width: 64%;
    .flex;
    .flex_hr;
    .flex_ab;
    margin-top: auto;

  }
  .event-client__top-img-wrap{
    //margin-right: 316rem;
  }
  .event-client__top-content{
    width: 110%;
  }
  .event-client__top-img{
    width: 1178rem;
  }
}

.content-fon_prom-ad{
  background: linear-gradient(100.09deg, #EEFAFF -1.98%, #FFF6F1 100%);
  .event-client__top-left{
    width: 36%;
  }
  .event-client__top-right{
    width: 64%;
    .flex;
    .flex_hr;
    .flex_ab;
    margin-top: auto;

  }
  .event-client__top-img-wrap{
    margin-right: 124rem;
  }
  .event-client__top-content{
    width: 110%;
  }
}

.content-fon_prom-open{
  background: linear-gradient(163.02deg, #FFF9EF 0%, #FFF1EE 75.69%);
  .event-client__top-left{
    width: 36%;
  }
  .event-client__top-right{
    width: 64%;
    .flex;
    .flex_hr;
    .flex_ab;
    margin-top: auto;

  }
  .event-client__top-img-wrap{
    margin-right: 95rem;
  }
  .event-client__top-content{
    width: 110%;
  }
}

.content-fon_training{
  background: linear-gradient(150.25deg, #FFF4E8 1.47%, #FFF2F8 69.13%, #F6F0FF 102.17%);
  .event-client__top-left{
    width: 36%;
  }
  .event-client__top-right{
    width: 64%;
    .flex;
    .flex_hr;
    .flex_ab;
    margin-top: auto;

  }
  .event-client__top-img-wrap{
    //margin-right: 316rem;
  }
  .event-client__top-content{
    width: 110%;
  }
}

.content-fon_birth{
  background: linear-gradient(180deg, #FFECEB 0%, #FAF3FF 100%);
  .event-client__top-left{
    width: 57%;
  }
  .event-client__top-right{
    width: 43%;
    .flex;
    .flex_hr;
    .flex_ab;
    margin-top: auto;

  }
  .event-client__top-img-wrap{
    margin-right: 179rem;
  }
}

.content-fon_ramadan{
  background: linear-gradient(180deg, #F8F0E3 0%, #F3ECFF 100%);
  .event-client__top-left{
    width: 47%;
  }
  .event-client__top-right{
    width: 53%;
    .flex;
    .flex_hr;
    .flex_ab;
    margin-top: auto;

  }
  .event-client__top-img-wrap{
    margin-right: 220rem;
  }
}

.event-client{
  padding-bottom: 50rem;
}
.event-client__top{
  .flex;
  .flex_ac;
}
.event-client__top-right{
  width: 54%;
  .flex_no-shrink;
}
.event-client__top-left{
  padding-left: 10%;
  padding-right: 1%;
  width: 46%;
}
.event-client__top-img{
  display: block;
  max-width: 100%;
}
.event-client__top-content{
  padding: 90rem 0;
}
.event-client__note{

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  line-height: 30rem;
  color: #B15454;
}
.event-client__top-head{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 54rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #000000;
  margin-bottom: 27rem;
}
.event-client__top-text{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  line-height: 30rem;
  color: #000000;
  margin-bottom: 40rem;
}

.event-client__wrap{
  .flex;
}
.event-client__content{
  padding-left: 80rem;
}
.event-client__head{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20rem;
  line-height: 18rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 24rem;
}
.event-client__list{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  line-height: 24rem;
  color: #000000;
  margin-bottom: 40rem;
}
.event-client__text{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  line-height: 30rem;
  color: #000000;
}
.event-client__left{
  width: 60%;
  padding-right: 10%;
}
.event-day__element{
  position: relative;
  margin-bottom: 7rem;
  &:hover{
    .event-day__btn{
      text-decoration: underline;
    }
  }
}
.event-day__content{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 35rem;
  padding-bottom: 27rem;
}
.event-day__content{
}
.event-day__bottom{
  .flex;
  .flex_ac;
}
.event-day__btn{
  margin-left: auto;
}
.event-day__title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30rem;
  line-height: 37rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.event-day__date{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 10rem;
}
.event-day__btn{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 13rem;
  line-height: 18rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.event-day__img{
  display: block;
  width: 100%;
}
.event-cabina__wrap{
  .flex;
}
.event-cabina__left{
  width: 50%;
  padding-left: 30rem;
}
.event-cabina__right{
  width: 50%;
  padding-right: 10%;
}
.event-cabina__head{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 40rem;
  line-height: 49rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 39rem;
}
.event-cabina__arend-hint{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13rem;
  line-height: 40rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.event-cabina__arend-price{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20rem;
  line-height: 20rem;
  color: #000000;
}
.event-cabina__img{
  display: block;
  width: 100%;
  padding-right: 75rem;
}
.event-cabina__arend-price{
  margin-bottom: 49rem;
}
.event-cabina__arend-short{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  line-height: 30rem;
  color: #000000;
  max-width: 510rem;
  margin-bottom: 22rem;
}
.note{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  line-height: 30rem;
  color: #B15454;
  background: #FFE0E0;
  padding: 8rem 33rem;
  max-width: 475rem;

}
.event-cabina__content{
  padding-top: 20rem;
}
.padding_bottom{
  padding-bottom: 70rem;
}
.event-mot__wrap{
  .flex;
  .flex_ac;
}
.event-mot{
  .padding_default;
}
.padding_default{
  padding-left: 30rem;
  padding-right: 55rem;
}
.event-mot__img{
  display: block;
  max-width: 100%;
}
.event-mot__wrap{
  background: linear-gradient(180deg, #FFF5EC 0%, #FFEAEA 100%);
}
.event-mot__img-wrap{
  padding-left: 241rem;
  padding-left: 26%;
  padding-top: 24%;
}
.event-mot__left{
  width: 50%;
}
.event-mot__right{
  width: 50%;
}
.enter{
  background-color: #fff;
  background: linear-gradient(276.44deg, #FFF6E6 -0.19%, rgba(255, 246, 230, 0) 99.42%);
  position: fixed;
  width: 100vw;
  height: 100vh;
  min-height: 500rem;
  left: 0;
  top: 0;
  z-index: 10;
}
.enter__top{
  .flex;
  padding-top: 24rem;
  padding-right: 55rem;
  padding-left: 55rem;
}
.enter__top-right{
  margin-left: auto;
  .flex;
  .flex_ac;
}
.enter__wrap{
  height: 100%;
  .flex;
  .flex_vertical;
}
.enter__logo-img{
  display: block;
  margin: auto;
}
.enter__logo-wrap{
  margin-bottom: 17rem;
}
.enter__hint{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12rem;
  line-height: 15rem;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 45rem;
}
.enter__content{
  .flex_grow;
  .flex;
  .flex_center;
  .flex_vertical;
}

.enter__btn{
  text-align: center;
  margin-bottom: 50rem;
}
.enter__remember-pass{
  text-align: center;
}
.enter__remember-pass-link{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 10rem;
  line-height: 12rem;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  .hover-brd(rgba(0, 0, 0, 0.4))
}

.enter__form-center {
  width: 285rem;
  margin: auto;
}

.client__head-2{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 26rem;
  line-height: 27rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 15rem;
}
.client-content{
  padding: 0 30rem;
  margin-top: 35rem;
}
.client-calendar__element{
  width: 310rem;
  .flex_no-shrink;
  .flex;
  .flex_vertical;
  margin-right: 2rem;
}
.client-calendar__date{
  height: 117rem;
  .flex;
  .flex_center;
  .flex_vertical;
  margin-bottom: 2rem;
}
.client-calendar__date-day{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  font-size: 60rem;
  line-height: 70rem;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.client-calendar__date-month{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14rem;
  line-height: 17rem;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.client-calendar__top{
  padding: 80rem 40rem;
}
.client-calendar__city{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13rem;
  line-height: 16rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 10rem;
}
.client-calendar__shop{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20rem;
  line-height: 24rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 9rem;
}
.client-calendar__addss{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13rem;
  line-height: 16rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
.client-calendar__content{
  position: relative;
  .flex_grow;
  .flex;
  .flex_vertical;
}
.client-calendar__btn-wrap{
  position:absolute;
  bottom: 23rem;
  .h_mid;
}
.client-calendar__img-wrap{
  margin-top: auto;
}
.client-calendar__img{
  display: block;
  width: 100%;
}
.client-calendar__scroll{
  .flex;
  .flex_no-wrap;
  width: 100%;
  overflow: auto;
  .scroll-custom;
  padding-bottom: 20rem;
  margin-bottom: 30rem;
}
.client-calendar__element_shop-1{
  .client-calendar__date{
    background: linear-gradient(180deg, #FFECEB 0%, #FFFFFF 0.01%, #FFF9EF 100%);
  }
  .client-calendar__content{
    background: #FFF9EF;
  }
}
.client-calendar__element_shop-2{
  .client-calendar__date{
    background: linear-gradient(180deg, #FFECEB 0%, #FFFFFF 0.01%, #FCF6F5 100%);
  }
  .client-calendar__content{
    background: #FCF6F5;
  }
}
.client-calendar__element_shop-3{
  .client-calendar__date{
    background: linear-gradient(180deg, #FFECEB 0%, #FFFFFF 0.01%, #F4F0E9 100%);
  }
  .client-calendar__content{
    background: #F4F0E9;
  }
}
.client-calendar__element_shop-4{
  .client-calendar__date{
    background: linear-gradient(180deg, #FFECEB 0%, #FFFFFF 0.01%, #F2F2F2 100%);
  }
  .client-calendar__content{
    background: #F2F2F2;
  }
}
.client-calendar__element_shop-5{
  .client-calendar__date{
    background: linear-gradient(180deg, #FFECEB 0%, #FFFFFF 0.01%, #F4F8F3 100%);
  }
  .client-calendar__content{
    background: #F4F8F3;
  }
}
.client-calendar__element_shop-6{
  .client-calendar__date{
    background: linear-gradient(180deg, #FFECEB 0%, #FFFFFF 0.01%, #FFFCEA 100%);
  }
  .client-calendar__content{
    background: #FFFCEA;
  }
}
.center-content{
  padding: 0 30rem;
}

.goods{
  .list-default;
}
.goods_inst{
  margin-bottom: 130rem;
}
.goods__element{
  width: 25%;
  padding-right: 20rem;
  margin-bottom: 20rem;
}
.goods__img{
  display: block;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
}
.goods__img-wrap{
  margin-bottom: 50rem;
  .flex_grow;
  .flex;
  .flex_center;
  height: 322rem;
}
.goods__content{
  text-align: center;
  padding: 0 10rem;
  max-width: 355rem;
  margin: 0 auto;
  margin-top: auto;
}
.goods__content-title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14rem;
  line-height: 20rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 14rem;
}
.goods__content-price{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20rem;
  line-height: 20rem;
  color: #000000;
  margin-bottom: 40rem;
}
.price{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20rem;
  line-height: 20rem;
  color: #000000;
}
.price_big{
  font-size: 26rem;
  line-height: 32rem;
}
.price_small{
  font-size: 16rem;
  line-height: 20rem;
}
.goods__note{
  .flex;
  .flex_vertical;
  height: 100%;

}
.goods__text{
  p:last-child{
    margin-bottom: 0;
  }
}
.goods__note-wrap{
  margin-top: auto;
}
.goods__wrap{
  height: 100%;
  .flex;
  .flex_vertical;
  padding-top: 40rem;
  padding-bottom: 48rem;
}
.goods__wrap_digital-site{
  background: linear-gradient(180deg, #FBEAD8 0%, #F9F9F9 100%) !important;
}
.goods__wrap_digital-inst{
  background: linear-gradient(157.1deg, #F8F4FF 11.7%, #FFFAF2 88.26%) !important;
}
.goods__wrap_digital-app{
  background: linear-gradient(180deg, #FEF7EE 0%, #FFFBDC 100%) !important;
}
.rules__wrap{
  padding-left: 70rem;
  padding-right: 70rem;
  padding-top: 60rem;
  padding-bottom: 70rem;
  background: #F8F8F8;
}
.rules__head{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30rem;
  line-height: 37rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30rem;
}
.rules__element{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  line-height: 30rem;
  margin-bottom: 10rem;
}

.pack{
  .list-default;
  .flex;

}
.pack__element{
  padding-right: 20rem;
  width: 33.3%;
}
.pack__element_type-1{
  .pack__element-wrap{
    background: radial-gradient(1741.65% 546.51% at 0% 100%, #F9F5FD 0%, #FFF8EE 36.83%, #FFF3E6 100%);
  }
}
.pack__element_type-2{
  .pack__element-wrap{
    background: linear-gradient(7.77deg, #F9F5FC 0.38%, #F9F9F9 34.45%, #E9E9E9 99.47%);
  }
}
.pack__element_type-3{
  .pack__element-wrap{
    background: linear-gradient(7.52deg, #F9F5FC 0%, #F9F3F1 30.21%, #ECDBD5 100%);
  }
}
.pack__element-wrap{
  padding: 60rem;
}
.pack__img{
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.pack__img-wrap{
  margin-bottom: 20rem;
  height: 160rem;
  .flex;
  .flex_ab;
}
.pack_mb-110{
  margin-bottom: 110rem;
}
.pack__title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30rem;
  line-height: 37rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 14rem;
}
.pack__note{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  line-height: 30rem;
  color: #000000;
}
.pack__note-list{
  margin-bottom: 30rem;
}
.pack__bottom{
  .flex;
  .flex_ac;
}
.pack__to-cart{
  margin-left: auto;
}
.pack__price{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20rem;
  line-height: 24rem;
  color: #000000;
  margin-right: 10rem;
}
.contest__icon{
  display: block;
  max-width: 100%;
}
.contest{
  max-width: 1573rem;
}
.contest__wrap{
  padding-left: 112rem;
  padding-right: 170rem;
  padding-top: 88rem;
  padding-bottom: 75rem;
}
.contest_type-1{
  .contest__wrap{
    background: linear-gradient(173.71deg, #F8F4FF 11.7%, #FFFAF2 88.26%);
  }
}
.contest__top-left{
  .flex;
  .flex_ac;

}

.contest__top{
  .flex;
  .flex_ac;
  margin-bottom: 55rem;
}
.contest__title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30rem;
  line-height: 37rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.contest__icon-wrap{
  margin-right: 49rem;
  width: 140rem;
}
.contest__top-right{
  margin-left: auto;
}
.contest__center{
  margin: auto;
}
.contest__condition{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  line-height: 30rem;
  color: #000000;
  padding-left: 50rem;
}
.contest__text{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  line-height: 30rem;
  color: #000000;
}

.contest__head{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30rem;
  line-height: 37rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 12rem;
}
.goods__note-head{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 26rem;
  line-height: 32rem;
  color: #4A4A4A;
  margin-bottom: 30rem;
}
.goods__note-text{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  line-height: 20rem;
  color: #4A4A4A;
}
.goods__note-wrap{
  padding: 0 20rem;
  padding-right: 70rem;
}


.head-page{
  margin-bottom: 17rem;
  .flex;
  .flex_ac;
}
.head-page__head{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 26rem;
  line-height: 32rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.head-page__left{
  .flex;
  .flex_ac;
}
.head-page__right{
  margin-left: auto;
}

.head-page__nav{
  .flex;
  .flex_ac;
}

.head-page__nav-link{
  .flex;
  .flex_ac;

  .head-page__nav-icon-wrap{
    .animate;
  }
  &:hover{
    .head-page__nav-hint{
      color: #6e6e6e;
    }
    .head-page__nav-icon-wrap{
      transform: translate(-5rem, 0rem);
    }
  }

}

.back-btn__link{
  .back-btn__icon{
    .animate;
  }
  &:hover{
    .back-btn__icon{
      transform: translate(-5rem, 0rem);
    }
  }
}
.head-page__nav-hint{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 13rem;
  line-height: 16rem;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.head-page__nav-link{
  text-decoration: none;
  margin-left: 54rem;
}
.head-page__nav-icon-wrap{
  margin-right: 13rem;
}
.head-page__nav-icon{
  display: block;
  width: 26rem;
}
.head-page__img{
  display: block;
}

.head-page__select{
  margin-left: 45rem;
  width: 270rem;
}
.personal-list__link{
  &:hover{
    .personal-list__name{
      text-decoration: underline;
    }
    .personal-list__photo-wrap:after{
      height: 60%;
    }
  }
}
.personal-list{
  .list-default;
}
.personal-list_office{
  .personal-list__element{
    width: 25%;
    max-width: 300rem;
  }
}
.personal-list__element{
  padding-right: 10rem;
  padding-bottom: 10rem;
  width: 16.6%;
  position: relative;

}
.personal-list__photo-wrap{
  position: relative;
  .photo-dark;
  position: relative;
}
.personal-list__interview-time{
  position: absolute;
  left: 0;
  top: 1rem;
  z-index: 2;
  width: 90%;
}
.photo-dark{
  &:after{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.54%, #000000 100%);
    .animate;
  }
}

.personal-list__photo{
  display: block;
  width: 100%;
  max-width: 100%;
}
.personal-list__interview-time-content{

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 11rem;
  line-height: 15rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #FF0000;
  display: inline;
  ext-decoration: none;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  background: linear-gradient(to right, #d27125 0%, #ff8400 200rem);
  background: #EEBDBD;
  padding: 5rem 20rem;
}
.personal-list__content{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0 30rem;
  padding-bottom: 30rem;
}
.personal-list__name{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20rem;
  line-height: 24rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 4rem;
}
.personal-list__hint{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 11rem;
  line-height: 13rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 5rem;
}
.personal-list__experience{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 11rem;
  line-height: 13rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.more-btn{
  .flex;
  .flex_center;
  margin: 45rem 0;
}
.vacancy-form__wrap{
  padding-left: 50rem;
  margin-top: 65rem;
}
.vacancy-from__row{
  .flex;
  margin-bottom: 48rem;
}
.vacancy-from__row_btn{
}
.vacancy-from__label{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12rem;
  line-height: 15rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-right: 118rem;
  width: 245rem;
  padding-top: 7rem;
}
.vacancy-from__input-wrap{
  width: 270rem;
}
.vacancy-from__textarea-wrap{
  width: 512rem;
}
.vacancy-open{
  .flex;
}
.vacancy-open__left{
  margin-right: 65rem;
}
.vacancy-open__attr{
  margin-bottom: 60rem;
}
.vacancy-open__attr-row{
  .flex;
  .flex_ac;
  margin-bottom: 25rem;
}
.vacancy-open__interview-time{
  margin-bottom: 30rem;
}
.vacancy-open__interview-time-content{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16rem;
  line-height: 18rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FF0000;
  padding: 7rem 16rem;
  background: #EEBDBD;
  display: inline-block;
}
.vacancy-open__attr-label{
  width: 260rem;
  margin-right: 60rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13rem;
  line-height: 18rem;
  color: #000000;
}
.vacancy-open__attr-val{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13rem;
  line-height: 18rem;
  color: #000000;
}
.vacancy-open__photo{
  display: block;
}
.vacancy-open__photo-wrap{
  position: relative;
  .photo-dark;
}
.success-page{
  height: 70vh;
  min-height: 600rem;
  background: linear-gradient(178.67deg, #F4F8F3 2.59%, #FFF2F2 98.53%);
}
.success-page{
  .flex;
  .flex_center;
}
.success-page_bron{
  .flex_hl;
  padding-left: 205rem;
    padding-bottom: 80rem;
  padding-top: 76rem;
  position: relative;
  .success-page__icon-wrap{
    position: absolute;
    top: 57rem;
    left: 127rem;
  }
  .success-page__wrap{
    text-align: left;
    width: 90%;
  }
  .success-page__icon{
    margin: 0;
  }
  .success-page__head{
    text-align: left;
    margin-bottom: 12rem;
  }
  .success-page__note{
    text-align: left;
    margin-bottom: 190rem;
  }
  .success-page__nav{
    width: 610rem;
  }
}
.success-page__wrap{
  text-align: center;
  width: 600rem;
}
.success-page__icon-wrap{
  margin-bottom: 25rem;

}
.success-page__icon{
  display: block;
  margin: auto;
}
.success-page__head{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 60rem;
  line-height: 73rem;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.success-page__note{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12rem;
  line-height: 15rem;
  text-align: center;
  color: #000000;
  margin-bottom: 95rem;
}
.success-page__border{
  height: 1rem;
  width: 451rem;
  background: #000000;
  margin: 65rem auto;
}
.success-page__return-link{
  margin-bottom: 55rem;
}
.success-page__nav{
  .flex;
  .flex_ac;
  .flex_sb;
}

.promzone__text{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  line-height: 26rem;
  color: #000000;
}
.promzone__tex-list{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  line-height: 40rem;
  color: #000000;
  padding-left: 20rem;
  margin:20rem 0;
}
.promzone__static-head{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14rem;
  line-height: 26rem;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20rem;
}
.promzone__padding-text{
  padding-left: 20rem;
}
.shop-open{
  padding-left: 70rem;
  padding-right: 46rem;
  margin-bottom: 69rem;
  .marketing-top{
    margin-left: -75rem;
  }
}
.shop-open__wrap{
  .flex;
}
.shop-open__left{
  width: 640rem;
  padding-right: 40rem;
  .flex_no-shrink;
}
.shop-open__right{
  margin-left: auto;
  width: 61%;
  .flex_no-shrink;
}
.shop-open-slide__big-img{
  margin-bottom: 7rem;
  height: 640rem;
  .flex;
  .flex_center;
  img, video{
    display: block;
    //width: 100%;
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
  }
}
.shop-open-slide__small-img-scroll{
  width: calc(~"100% + 46rem");
  overflow: auto;
  .scroll-custom;
  padding-bottom: 17rem;
}
.shop-open-slide__small-img-list{
  .flex;
}
.shop-open-slide__small-img-element{
  width: 140rem;
  .flex;
  .flex_no-shrink;
  margin-right: 9rem;
  img, video{
    width: 100%;
    display: block;
  }
  &.active{
    border: 2rem solid #000000;
  }
}
.shop-open__title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 70rem;
  line-height: 68rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 18rem;
}
.shop-open__info{
  .flex;
  .flex_sb;
}
.shop-open__addss{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  line-height: 17rem;
  color: #000000;
}
.shop-open__time{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  line-height: 17rem;
  color: #000000;
}
.shop-open__time-element{
  margin-bottom: 10rem;
}
.shop-open__border{
  height: 1rem;
  background: #D6D6D6;
  margin: 22rem 0;
}
.shop-open__block{
  padding-right: 50rem;
}
.shop-open__head{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 26rem;
  line-height: 32rem;
  color: #000000;
  margin-bottom: 15rem;
}
.shop-open__promo{
  .flex;
  .flex_wrap;
}
.shop-open__promo-element{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  line-height: 40rem;
  color: #000000;
  margin-right: 34rem;
}
.shop-open__promo{
  margin-bottom: 30rem;
}
.shop-open__btn{
  .btn{
    margin-right: 11rem;
  }
}
.shop-on-map__head-text{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30rem;
  line-height: 37rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.shop-on-map__head{
  .flex;
  .flex_ac;
  padding-left: 70rem;
}
.shop-on-map__head{
  margin-bottom: 27rem;
}
.shop-on-map__head-icon{
  margin-right: 15rem;
}
#map, .map{
  height: 617rem;
}
.brand-all__char{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16rem;
  line-height: 40rem;
  /* or 250% */

  color: #000000;
}
.brand-all__element{

}
.brand-all__link{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16rem;
  line-height: 40rem;
  /* or 250% */

  color: #000000;
  text-decoration: none;
  .hover-brd();
}

.brand-all{
  padding: 0 35rem;
}
.brand-all__block{
  margin-bottom: 30rem;
  width: 100%;
  display: inline-block;
}
.brand-all__wrap{
  columns: 200rem;
}



.office{
  padding-left: 20rem;
  padding-right: 30rem;
  .flex;
  margin-top: 45rem;

}
.office-list{
  min-width: 355rem;
}
.office-list__element{
  margin-bottom: 5rem;
}
.office-list__link{
  padding-left: 20rem;
  padding-right: 40rem;
  height: 44rem;
  .flex_inline;
  .flex_ac;
  text-decoration: none;
  &:hover, &.active{
    background: #e4e2e2;
  }
}
.office-list__hint{
  white-space: nowrap;
}
.office-list__icon{
  display: block;
  max-width: 100%;
  min-width: 70%;
}
.office-list__icon-wrap{
  margin-right: 29rem;
  width: 28rem;
}
.office-list__hint{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14rem;
  line-height: 17rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  display: block;
}
.office__nav{
  //width: 270rem;
  padding-right: 50rem;
}
.office__content{
  .flex_grow;
}

.office__content_info{
  padding-right: 5%;
}

.office__right{
  width: 360rem;
  .flex_no-shrink;
  margin-right: 10%;
}

.office-head__right{
  margin-left: auto;
}
.office-head__select{
  .flex;
  .flex_ac
}
.office-head__select-element{
  margin-left: 25rem;
}
.office-head__link{
  padding-left: 20rem;
  padding-right: 20rem;
  min-height: 44rem;
  .flex;
  .flex_ac;
  text-decoration: none;
  margin-bottom: 25rem;
}
.office-head__btn{
  margin-left: auto;
}
.office-head__icon{
  display: block;
  width: 16rem;
}
.office-head__icon-wrap{
  margin-right: 29rem;
}
.office-head__hint{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20rem;
  line-height: 24rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  display: block;
}
.office-head__hint_small{
  font-size: 18rem;
  height: 44rem;
  .flex;
  .flex_ac;
}
.office-head__link_border{
  padding: 0;
  margin-bottom: 23rem;
  padding-bottom: 6rem;
  border-bottom: 1px solid #000;
}
.office-name{
  margin-left: 25rem;
}
.office-nav__wrap{
  .flex;
  border-bottom: 1px solid #000;
}
.office-nav__link{
  height: 40rem;
  padding: 0 23rem;
  display: block;
  .flex;
  .flex_center;
  text-decoration: none;
  background: #fff;
  .animate;
  &.active, &:hover{
    background: #000000;
    .office-nav__hint{
      color: #fff;
    }
  }
}
.office-nav__hint{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 13rem;
  line-height: 16rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.balance-card{
  padding-left: 36rem;
  padding-right: 26rem;
  padding-bottom: 28rem;
  padding-top: 35rem;
  margin-bottom: 26rem;
}
.balance-card_type-1{
  background: linear-gradient(69.51deg, #FBFFE8 0%, #EEF8FF 99.75%);
}
.balance-card_type-2{
  background: linear-gradient(165.05deg, #FEF7F1 20.6%, #F0F0F0 96.68%);
}
.balance-card_type-3{
  background: linear-gradient(179.66deg, #F4F8F3 2.59%, #FFF2F2 98.53%);
}
.balance-card__wrap{
  .flex;
  .flex_ab;
}
.balance-card__wrap_at{
  .flex_at;
}
.balance-card__head-hint{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  line-height: 17rem;
  color: #000000;
  margin-bottom: 8rem;
}
.balance-card__count-big{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 70rem;
  line-height: 58rem;
  text-transform: uppercase;
  color: #000000;
  margin-right: 38rem;
}
.balance-card__count{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20rem;
  line-height: 24rem;
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;

  color: #000000;
}
.balance-card__nav{
  .flex;
  .flex_ac;
  margin-left: auto;
}
.balance-card__nav-element{
  margin-left: 40rem;
}
.balance-card__part-info{
  margin-left: auto;
}
.balance-card__part-info-list{
  margin-top: 10rem;
  position: relative;
}


.balance-card__part-info-list-element{
  .flex;
  .flex_ac;
  margin-bottom: 8rem;
}
.balance-all-icon{
  position: absolute;
  left: -50rem;
  .v_mid;
}
.balance-card__part-info-price{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 11rem;
  line-height: 13rem;
  text-transform: uppercase;
  color: #000000;
  margin-right: 15rem;
  width: 80rem;
}
.balance-card__part-info-label{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12rem;
  line-height: 15rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}


.office-card{
  .flex;
  .flex_wrap;
  width: calc(~"100% + 15rem");
  position: relative;
}
.inputfile {
  width: 0.1rem;
  height: 0.1rem;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.office-card__wrap{
  height: 327rem;
  padding-left: 28rem;
  padding-top: 16rem;
  padding-bottom: 30rem;
  padding-right: 30rem;
  .flex;
  .flex_vertical;
}
.office-card__element{
  width: calc(~"25% - 15rem");
  margin-right: 15rem;
  margin-bottom: 15rem;
  position: relative;
}

.office-card__element_status-1{
  background: linear-gradient(180deg, #EAFFD9 0%, #F5F5F5 100%);
}
.office-card__element_status-2{
  background: linear-gradient(180deg, #F2F2F2 0%, #FAFAFA 100%);
  .office-card__price{
    text-decoration-line: line-through;
  }
}

.office-card__element_status-3{
  background: linear-gradient(97.31deg, #FEF7EE 0%, #FFFBDC 100%);
}
.office-card__element_status-4{
  background: linear-gradient(180deg, #FFD3D3 0%, #FFEAF9 100%);
}
.office-card__element_status-5{
  background: linear-gradient(180deg, #F2F2F2 0%, #FAFAFA 100%);
}
.office-card__element_status-6{
  background: linear-gradient(177.84deg, #F4F8F3 2.59%, #FFF2F2 98.53%)
}

.office-card__note{
  border: 2rem solid rgba(0, 0, 0, 0.05);
  width: 100%;
  text-align: center;
  padding:  13rem 30rem;
  margin-top: 20rem;
  .flex;
  .flex_vertical;
  .flex_center;
  min-height: 88rem;
}
.office-card__note-head{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 11rem;
  line-height: 18rem;
  /* identical to box height, or 164% */
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 5rem;
}
.office-card__note-text{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13rem;
  line-height: 18rem;
  text-align: center;
  color: #000000;
}
.office__right-card{
  .office-card{
    width: 100%;
  }
  .office-card__element{
    width: 100%;
    margin-right: 0;
  }
}
.office-card__status-hint{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13rem;
  line-height: 26rem;
  /* identical to box height, or 200% */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 26rem;
}
.office-card__date{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 11rem;
  line-height: 26rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.office-card__date_big{
  font-weight: bold;
  font-size: 14rem;
  line-height: 26rem;
}
.office-card__head{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20rem;
  line-height: 26rem;
  /* identical to box height, or 130% */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 14rem;
}
.office-card__price{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20rem;
  line-height: 24rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.office-card__brand-hint{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14rem;
  line-height: 26rem;
  /* identical to box height, or 186% */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.office-card__day-end{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 11rem;
  line-height: 13rem;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-top: 7rem;
  color: #000000;
}
.office-card__nav{
  margin-top: auto;
  .flex;
  .flex_sb;
}
.office-card__center{
  .i_center;
  width: 100%;
  padding: 0 30rem;
  text-align: center;
}

.yiiPager{
  margin-top: 50rem;
  .flex;
  .flex_center;
  width: 100%;
  li{
    margin: 0 10rem;
    &.selected{
      a{
        color: #fff;
        background: #000;
      }
    }
    a{
      width: 44rem;
      height: 44rem;
      .flex;
      .flex_center;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 20rem;
      line-height: 26rem;
      /* identical to box height, or 130% */
      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: #000000;
      .animate;
      &:hover{
        color: #6a6a6a;
      }
    }
  }
}
.pager .prev{
  margin-right: 110rem;
  span, a{
    width: 52rem;
    height: 51rem;
    background: url("../img/icons/page-left.svg")center no-repeat;
    display: block;
  }
}
.pager .next{
  margin-left: 110rem;
  span, a{
    width: 52rem;
    height: 51rem;
    background: url("../img/icons/page-right.svg")center no-repeat;
    display: block;
  }
}

.info-form{
  .flex;

}
.info-form__row{
  margin-bottom: 10rem;
}
.info-form__block{
  width: 50%;
  padding-right: 50rem;
}
.info-form__head{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  line-height: 17rem;
  color: #000000;
  margin-bottom: 15rem;
}
.office-border{
  background: #000000;
  height: 1rem;
  margin: 50rem 0;
  margin-right: 50rem;
}
.info-brand{
  width: 400rem;
  .flex;
  .flex_ac;
  .flex_wrap;

}
.info-brand__link{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 11rem;
  line-height: 26rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.info-brand__element{
  margin-right: 25rem;
}
.info-user{
  .flex;

}
.info-user__block{
  margin-right: 82rem;
}
.cart-list__img{
  display: block;
  width: 58rem;
}
.cart-list__img-wrap{
  margin-right: 50rem;

}

.cart-list__wrap{
  .flex;
  padding-top: 30rem;
  padding-bottom: 30rem;
  padding-left: 40rem;
  padding-right: 34rem;
}
.cart-list__type{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 10rem;
  line-height: 12rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 10rem;
}
.cart-list__title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16rem;
  line-height: 20rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.cart-list__descrip{
  margin-right: 19rem;
  width: 250rem;
}
.cart-list__label{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 11rem;
  line-height: 13rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 16rem;
}
.cart-list__right{
  margin-left: auto;
  .flex;
}
.cart-list__form{
  .flex;
  margin-bottom: 30rem;
  &:last-child{
    margin-bottom: 0;
  }
}
.cart-list__form-element_brand{
  width: 170rem;
}
.cart-list__form-element{
  margin-right: 19rem;
}
.cart-list{
  margin-bottom: 25rem;
}
.date-input{
  height: 32rem;
  background: #FFFFFF;
  border: 1px solid #000000;
  .flex;
  .flex_ac;
  padding-right: 40rem;
  position: relative;
  width: 240rem;
  input{
    webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    height: 29rem;
    border: none;
    background: none;
    width: 100%;
    padding: 0 17rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13rem;
    line-height: 26rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-radius: 0;
    background: #fff;
    padding-right: 0;
    .flex_grow;
  }
}
.date-input__icon-wrap{
  margin-left: 20rem;
  position: absolute;
  right: 6rem;
  background: #fff;
  .v_mid;
  img{
    width: 19rem;
  }
}
.dates-multiply__list{
 // width: 85rem;
  margin-right: 10rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13rem;
  line-height: 20rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.dates-multiply_single{
  width: 140rem;
}
.cart-list__select{
  min-width: 50rem;
  .dates-multiply__list{
    width: 85rem;
    margin-right: 30rem;
  }
}
.dates-multiply_small{
  width: 174rem;
}
.dates-multiply{
  .flex;
  .flex_ac;
  padding: 5rem 15rem;
  border: 1px solid #000;
  background: #fff;
}
.dates-multiply__icon{
  margin-left: auto;
  img{
    display: block;
  }
}
.cart-list__val{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16rem;
  line-height: 20rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.cart-list__price{
  margin-right: 110rem;
}

.cart-list__remove-icon{
  display: block;
  width: 18rem;
}
.cart-list__remove-icon-wrap{
  width: 43rem;
  height: 43rem;
  .flex;
  .flex_center;
  background: #000;
  .hover-btn;
}
.hover-btn{

  .animate;
  &:hover{
    background: #343434;
  }
}

.cart-list__element_type-1{
  background: linear-gradient(115.75deg, #FFF4F0 0%, #FFF9F3 10.81%, #FFEFDD 98.83%);
}
.cart-list__element_type-2{
  background: linear-gradient(123.77deg, #EEFAFF -1.98%, #FFF6F1 100%);
}
.cart-list__element_type-3{
  background: linear-gradient(180deg, #FBEAD8 0%, #F9F9F9 100%);
}
.cart-list__element_type-4{
  background: linear-gradient(178.49deg, #F8F4FF 11.7%, #FFFAF2 88.26%);
}
.cart-list__element_type-5{
  background: linear-gradient(126.87deg, #FEF7EE 0%, #FFFBDC 100%);
}
.cart-list__element_type-6{
  background: linear-gradient(159.52deg, #FFF4E1 -19.99%, #FAFAFA 100.05%);
}
.cart-list__element{
  margin-bottom: 3rem;
}
.cart-list__form-element_side{
  width:95rem;
}
.cart-list__form-element_count-slide{
  width: 95rem;
  margin-top: -12rem;
}
.cart-list__nav{
  .flex;
  .flex_center;
  height: 100%;
}
.cart-list__inst-form{
  margin-top: 24rem;
  margin-bottom: 44rem;
  &:last-child{
    margin-bottom: 0;
  }
}
.cart-list__inst-form-head{
  .flex;
  .flex_ac;

}
.required{
  color: #FF0000;
}
.cart-list__inst-form-label{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 8rem;
  line-height: 10rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #B4B4B4;
  margin-bottom: 5rem;
}
.cart-list__inst-form-label_date{
  width: 138rem;
  margin-right: 17rem;
}
.cart-list__inst-form-label_short{

}
.cart-list__inst-form-element{
  .flex;
  .flex_ac;
  margin-bottom: 17rem;
}
.cart-list__inst-form-date{
  margin-right: 17rem;
  width: 138rem;
}
.cart-list__inst-form-date_inst{
  width: auto;
  margin-right: 26rem;
}
.cart-list__inst-form-short{
  width: 419rem;
}
.cart-itog__wrap{
  .flex;
  .flex_hc;
}
.cart-itog__label{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 11rem;
  line-height: 13rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 4rem;
}
.cart-itog__price{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 26rem;
  line-height: 32rem;
  /* identical to box height */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 32rem;

}
.cart-info__val{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13rem;
  line-height: 16rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.cart-info__block{
  width: 220rem;
  margin-right: 48rem;
}
.cart-info__wrap{
  .flex;
}
.cart-success-text__img{
  display: block;
}
.cart-success-text__img-wrap{
  margin-right: 52rem;
}
.rating-filter{
  margin-bottom: 34rem;
}
.rating-filter__wrap{
  .flex;

}
.cart-success-text__wrap{
  height: 140rem;
  background: #F4F8F3;
  padding-left: 77rem;
  padding-right: 177rem;
  padding-top: 44rem;
  padding-bottom: 34rem;
  .flex_ac;
  .flex;
}
.to-cart-form__row-day{
  display: flex;
}
.to-cart-form__row-day>div{
  padding-left: 10px;
}
.to-cart-form__row-day>div:first-child{
  padding-left: 0px;
}
.to-cart-form__day,
.to-cart-form__defice{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  font-size: 50rem;
  line-height: 61rem;
  text-align: center;
  /* identical to box height */
  text-transform: uppercase;
}
.to-cart-form__success-btn{
  text-align: center;
}
.to-cart-form__success-btn_success{
  .flex;
  .flex_center;
  .flex_reverse;
}
.link-bold{
  font-weight: bold;
}
.to-cart-form__bottom{
  padding-top: 49rem;
  padding-bottom: 30rem;
  background: #fff;
}
.cart-success-text__text{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30rem;
  line-height: 37rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.rating-filter__element{
  margin-right: 20rem;
}
.rating__shops-wrap{
  .flex;
  .flex_wrap
}
.rating__shops-block{
  width: 300rem;
  margin-right: 80rem;
  margin-bottom: 79rem;
}

.rating__shops-top{
  padding-bottom: 10rem;
  border-bottom: 1px solid #000;
  margin-bottom: 29rem;
}
.rating__shops-name{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20rem;
  line-height: 24rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 5rem;
}
.rating__shops-city{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13rem;
  line-height: 16rem;
  /* identical to box height */
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #000000;
  margin-right: 12rem;
}
.rating__shops-contact{
  .flex;
}
.rating__shops-addss{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13rem;
  line-height: 16rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
.rating__brand-element{
  .flex;
  .flex_ac;
  margin-bottom: 6rem;
  &.active{
    .rating__brand-wrap{
      &:before{

        content: '';
        position: absolute;
        width: calc(~"100% + 60rem");
        //height: calc(~"100% + 30rem");
        height: 100%;
        left: -15rem;
        //top: -15rem;
        background: #000;
      }
      .rating__brand-num, .rating__brand-name{
        color: #fff;
        position: relative;
      }
    }
  }
}
.rating__brand-wrap{
  position: relative;
  .flex_inline;
  .flex_ac;
  height: 32rem;
}
.rating__brand-num{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 11rem;
  line-height: 26rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-right: 17rem;
  width: 15rem;
}
.rating__brand-name{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 11rem;
  line-height: 26rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.notification__element{
  .flex;
  .flex_ac;
  padding-top: 12rem;
  padding-bottom: 12rem;
  border-bottom: 1px solid #E4E4E4;
  &:last-child{
    border: 0;
  }
}
.notification__content{
  padding-right: 35rem;
}
.notification__status{
  width: 20rem;
  margin-right: 10rem;
}
.notification__status-new{
  width: 5rem;
  height: 5rem;
  background: #FF0000;
  border-radius: 100%;
  margin:auto;
  //margin-top: 25rem;
}
.notification__head{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14rem;
  line-height: 30rem;
  color: #000000;
}

.notification__text{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12rem;
  line-height: 20rem;
  color: #000000;
  a{
    font-weight: 600;
    color: #000000;
  }
}
.notification__date{
  margin-left: auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12rem;
  line-height: 30rem;
  letter-spacing: 0.1em;
}
.plan__head{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 26rem;
  line-height: 32rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 17rem;
}
.plan-table{
  position: relative;
  .flex;
}
.plan-table__col{
  width: 8.3333%;
  .flex;
  .flex_vertical;
}
.plan-table__content{
  .flex_grow;
  border-right: 1px solid #000;
}
.plan-table__th{
  height: 44rem;
  .flex;
  .flex_center;
  background: #000;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 11rem;
  line-height: 13rem;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  border-right: 1px solid #fff;
}
.plan-table{
  border: 1px solid #000;
  border-top: 0;
}
.plan-table__row{
  margin-bottom: 2rem;
}
.plan__wrap{
  position: relative;
}
.plan__time{
  position: absolute;
  width: 1000rem;
  height: 100%;
  background: linear-gradient(90.46deg, #F0F0F0 0.1%, #EDEDED 99.46%);
}
.plan-card{
  .flex;
  .flex_vertical;

  text-align: center;
  min-height: 217rem;
  position: relative;
  background: #fff;
}
.plan-card__img-wrap{
  position: absolute;
  .i_center;

}
.plan-card_type-1{
  background: linear-gradient(180deg, #FFC8C8 0%, #FFEEEE 100%);
}
.plan-card_type-2{
  background: linear-gradient(91.67deg, #FFF9EF 0%, #FFF3E6 98.83%);
}
.plan-card_type-3{
  background: linear-gradient(151.02deg, #F8F4FF 11.7%, #FFFAF2 88.26%);
}
.plan-card_type-4{
  background: linear-gradient(92.59deg, #EEFAFF -1.98%, #FFF6F1 100%);
}
.plan-card_type-5{
  background: linear-gradient(180deg, #FBEAD8 0%, #F9F9F9 100%);
}
.plan-card_type-6{
  background: radial-gradient(1741.65% 546.51% at 0% 100%, #F8FCE9 0%, #FFF8EE 36.83%, #FFF3E6 100%);
}
.plan-card_type-7{
  background: linear-gradient(108.89deg, #FFF4E1 -19.99%, #FAFAFA 100.05%);
}
.plan-card__type{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 8rem;
  line-height: 10rem;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20rem;
}
.plan-card__content{
  .flex;
  .flex_vertical;
  .flex_grow;
  height: 100%;
  .flex_ac;
  padding: 10rem;
}
.plan-remove{
  .flex_inline;
  .flex_ac;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 8rem;
  line-height: 10rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-top: auto;
}
.plan-remove__icon-wrap{
  margin-right: 7rem;

}
.plan-remove__icon{
  display: block;
}
.plan-card__name{

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 10rem;
  line-height: 12rem;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 4rem;
}
.plan-card__date{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10rem;
  line-height: 12rem;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 2rem;
}

.plan-card__title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 7rem;
  line-height: 9rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 14rem;
}

.modal-default{
  position: relative;
}
.modal-close{
  width: 43rem;
  height: 43rem;
  background: #000000;
  .flex;
  .flex_center;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  img{
    pointer-events: none;
  }
  .hover-btn;
}
.to-cart-form{
  min-width: 674rem;
}
.to-cart-form__header{
  padding-top: 36rem;
  padding-bottom: 36rem;
  padding-left: 47rem;
  padding-right: 47rem;
  background: linear-gradient(97.01deg, #FFF4F0 0%, #FFF9F3 10.81%, #FFEFDD 98.83%);
}
.to-cart-form__head{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30rem;
  line-height: 37rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 24rem;
}
.to-cart-form__type-wrap{
  .flex;
}
.to-cart-form__img-wrap{
  width: 120rem;
  margin-right: 37rem;
  padding-left: 20rem;
}
.to-cart-form__img{
  width: 80rem;
  display: block;
}
.to-cart-form__type{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 11rem;
  line-height: 13rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 13rem;
}
.to-cart-form__title{
  //width: 150rem;

}
.to-cart-form__title-link{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 26rem;
  line-height: 32rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.to-cart-form__content{
  padding-left: 210rem;
  padding-right: 195rem;
  padding-bottom: 60rem;
  padding-top: 31rem;
  background: #fff;
  position: relative;
}
.to-cart-form__row{
  margin-bottom: 29rem;
}
.cart-info__row{
  margin-bottom: 23rem;
  &:last-child{
    margin-bottom: 0;
  }
}
.cart-info__row-td{
  margin-right: 54rem;
}
.select-custom{
  .select-wrap__element{
    width: 100%;
    display: block;
    max-width: 100%;
  }
}

.form-note{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10rem;
  line-height: 12rem;
  color: #000000;
  width: 250rem;
}
.form-note_w-a{
  width: auto;
}
.to-cart-form__block-wrap{
  width: 250rem;
}
.to-cart-form__border{
  height: 1rem;
  background: #000000;
  margin-top: 20rem;
  margin-bottom: 30rem;
}
.to-cart-form__border_info{
  margin-top: -10rem;
}
.to-cart-form__add-btn{
  position: absolute;
  right: 36rem;
  top: 54rem;
}
.clone-wrap{
  .flex;
}
.to-cart-form__block{
  margin-right: 60rem;
  &:last-child{
    margin-right: 0;
  }
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0rem;
}

.select2-container .select2-selection--single{
  height: 32rem;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13rem;
  line-height: 32rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.select2-results{
  padding: 17rem;
  //padding-right: 30rem;
}
.select2-results__option{
  height: 44rem;
  .flex;
  .flex_ac;
  padding: 0 25rem;
  border: 1px solid #D6D6D6;
  margin-bottom: 5rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12rem;
  line-height: 15rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;

}

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option[aria-selected=true]{
  background: 0;
  border: 1px solid #000;
  color: #000;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
  padding: 10rem;
}

.select2-container .select2-selection--single .select2-selection__rendered{
  padding-left: 15rem;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  .v_mid;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  display: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  background: url("../img/icons/arr-bottom.svg") center no-repeat;
  background-size: 14rem 8rem;
  height: 8rem;
  width: 14rem;
  right: 14rem;
}
.lg-backdrop{
  background: #000000a6;
}
.drop-padding{
  padding: 29rem 34rem;
  background: #fff;
}
.drop-head{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 26rem;
  line-height: 32rem;
  /* identical to box height */
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #000000;
  margin-bottom: 18rem;
}
.drop-dates{
  width: 554rem;
}
.dates{
  display: none;
}
.js-dates-wrap{
  .dates{
    display: block;
  }
}
.dates-head{
  .flex;
  .flex_ac;
  height: 44rem;
  background: #000;
}
.dates-label-left{
  width: 60%;
  padding-left: 60rem;

}
.dates-label-right{
  width: 40%;
}
.dates-list{
  height: 475rem;
  overflow: auto;
}
.dates-list__element{
  margin-top: 4rem;
  border: 1px solid #D6D6D6;
}
.dates-list__wrap{
  .flex;
  .flex_ac;
  //padding-left: 60rem;
  height: 44rem;
  position: relative;
}
.dates-label{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12rem;
  line-height: 15rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.dates-list__element{

}
.dates-list__checkbox{
  position: absolute;
  opacity: 0;
  &:checked + .dates-list__wrap{
    background: #000;
    .dates-list__left{
      color: #fff;
    }
    .dates-list__right{
      color: #fff;

    }
  }
}
.dates-list__left{
  width: 60%;
  padding-left: 60rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12rem;
  line-height: 15rem;
  /* identical to box height */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: relative;
  color: #000000;
}
.dates-list__right{
  width: 40%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12rem;
  line-height: 15rem;
  /* identical to box height */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;

}
.dates-select-icon{
  position: absolute;
  left: 20rem;
  .v_mid;
}
.pickmeup{
  z-index: 17;
}

/* Для Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
/* Для Firefox */
input[type=number]{
  -moz-appearance: textfield;
}

.quantity-arrow-minus{
  width: 32rem;
  height: 32rem;
  //background: linear-gradient(360deg, #EBC69D -8.45%, #987E60 100%);
  &:hover{
    //background: linear-gradient(360deg, #987E60 -8.45%, #EBC69D 100%);

  }
  .flex;
  .flex_center;
  i{
    font-size: 2rem;
  }
}
.quantity-arrow-plus{
  width: 32rem;
  height: 32rem;
  //background: #fff;
  &:hover{
    //background: linear-gradient(360deg, #987E60 -8.45%, #EBC69D 100%);

  }
  .flex;
  .flex_center;
  i{
    font-size: 14rem;
  }
}
.quantity-block{
  .flex;
  .flex_ac;
  border: 1px solid #000;
  background: #fff;
  width: 145rem;
}
.quantity-num{
  width: 79rem;
  height: 32rem;
  text-align: center;
  text-transform: uppercase;
  background: none;
  border: 0;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13rem;
  line-height: 30rem;
  /* identical to box height, or 231% */
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #000000;
}
.form-inst__block{
  width: 510rem;
  margin-right: 52rem;
  &:last-child{
    margin-right: 0;
  }
}
.form-inst__block_w-a{
  width: auto;
}
.form-inst__block_success{
  width: 305rem;
}
.form-inst__block-row{
  .flex;
}
.form-inst__block-td{
  margin-right: 30rem;
  &:last-child{
    margin-right: 0;
  }
}
.form-inst__content{
  .flex;
}
.form-inst__textarea{
  width: 530rem;
}
.cart-list__inst-form-short_small{
  width: 355rem;
}
.to-cart-form__content_inst{
  padding-right: 78rem;
}
.to-cart-form__content_inst-post{
  padding-right: 100rem;
}
.to-cart-form__content_success{
  padding-bottom: 5rem;
}
.to-cart-form__footer-wrap{
  .flex;
  .flex_ac;
  .flex_sb;
  margin-top: 30rem;
  padding-top: 27rem;
  border-top: 1rem solid #000;
}
.form-inst__date-end{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13rem;
  line-height: 20rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-left: 20rem;
}
.textarea__element_inst.textarea__element{
  width: 100%;
  height: 84rem;
}
.change-form{
  width: 674rem;
  background: #fff;
}
.change-form__header{
  background: linear-gradient(103.93deg, #C1DAFF 0%, #FFF2F2 99.11%);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30rem;
  line-height: 37rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  height: 100rem;
  .flex;
  .flex_ac;
  padding: 0 62rem;
}
.change-form__content{
  padding: 16rem 62rem;
  .input__wrap{
    width: 254rem;
  }
}
.change-form__note{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  line-height: 20rem;
  color: #000000;
}
.change-form-success__icon{
  display: block;
  margin: auto;
}
.change-form-success__icon-wrap{
  margin-bottom: 15rem;
}
.change-form-success__head{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30rem;
  line-height: 37rem;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 15rem;
}
.change-form-success__note{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  line-height: 20rem;
  text-align: center;
  margin-bottom: 30rem;
}
.change-form-success{
  text-align: center;
  padding: 14rem;
  background: #fff;
  width: 670rem;
}
.change-form-success__wrap{
  background: linear-gradient(94.14deg, #C1DAFF 0%, #FFF2F2 99.11%);
  padding: 50rem;
}
.p-404__wrap{
  position: relative;
  text-align: center;
}
.p-404__icon-wrap{
  position: absolute;
  top: 40rem;
  left: 170rem;
}
.success-page_404{
  background: linear-gradient(180deg, #F0F0F0 0%, rgba(240, 240, 240, 0) 100%);
}
.p-404__head{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 300rem;
  line-height: 300rem;
  text-align: center;
  text-transform: uppercase;
}
.p-404__note{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 110rem;
}
.p-404__hint{
  position: absolute;
  left: 0;
  top: 45rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14rem;
  line-height: 17rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
  /* Footer
    -----------------------------------------------------------------------------*/
.footer {
  margin: -295rem auto 0;
  min-width: 1200rem;
  height: 295rem;
  position: relative;
  border-top: 1rem solid #E7E7E7;
}
.footer__right-bottom{
  .flex;
  .flex_ac;
  margin-top: auto;
  .user-name{
    margin-left: auto;
  }
}
.footer__center{
  .flex;
  padding-left: 35rem;
  padding-right: 54rem;
  padding-top: 59rem;
}

.footer__right{
  margin-left: auto;
  .flex;
  .flex_vertical;
}

.footer__left{
  .flex;
}


.footer__logo-wrap{
  margin-right: 111rem;
  margin-top: 15rem;
}
.footer__logo{
  display: block;
  width: 102rem;
}


body{
  .pickmeup .pmu-instance{
    padding: 25rem 30rem;
    width: 375rem;
    height: 392rem;
  }
  .pickmeup{
   border-radius: 0;
    background: #FFFFFF;
    box-shadow: 0rem 4rem 20rem rgba(0, 0, 0, 0.25);
  }
  .pickmeup .pmu-instance .pmu-button{
    color: #000000;
    font-weight: 500;
    font-size: 12rem;
    line-height: 44rem;
  }
  .pickmeup .pmu-instance .pmu-not-in-month{
    color: #F2F2F2;
  }
  .pickmeup .pmu-instance{
    text-align: left;
  }
  .pickmeup .pmu-instance .pmu-day-of-week *, .pickmeup .pmu-instance .pmu-days *{
    width: 44rem;
    height: 44rem;
    .flex_inline;
    .flex_center;
  }
  .pickmeup .pmu-instance .pmu-today{
    background: 0;
    color: #000;
    border: 1px solid #000;
  }
  .pickmeup .pmu-instance .pmu-selected{
    background: #000000;
    color: #fff;
    border: 1px solid #000;
    &:hover{
      background: #000000;
      color: #fff;

    }
  }
  .pickmeup .pmu-instance .pmu-day-of-week{
    color: #000000;
  }
  .pickmeup .pmu-instance nav{
    .flex_sb;
    .flex_ac;

    .pmu-button{
      height: auto;
    }

    .pmu-month{
      color: #000000;
      font-weight: 600;
      font-size: 16rem;
      line-height: 20rem;
      width: auto;
      text-align: center;
    }
  }

}
.date-in-past{
  color:red;
}


@import url("../css/ui.less");
@import url("../css/helper.less");




