html .footer, html .wrapper {
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  opacity: 0;
}
html {
  height: 100%;
  font-size: 1px;
  /*font-size: 100px;

  @media (max-width: 1600px) {
    font-size: 80px;
  }

  @media (max-width: 1200px) {
    font-size: 70px;
  }

  @media (max-width: 800px) {
    font-size: 100px;
  }*/

  &:after{
    content: "";
    width: 242px;
    height: 150px;
    background: url("../img/logo.svg") center no-repeat;
    background-size: contain;
    .i_center;
    position: fixed;
  }

  .wrapper, .footer{
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    //opacity: 0;
  }


  &.loaded{
    &:after{
      display: none;
    }
    .wrapper,.footer{
      opacity: 1;
    }
    .js-discount-open{
      opacity: 1;
    }

    body{
      visibility: visible;
    }
  }
}

body{
  .scroll-custom;
}

.btn{
  padding: 0 28rem;
  height: 44rem;
  font-weight: 600;
  .flex_inline;
  .flex_center;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  vertical-align: top;
}
.btn__note{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  line-height: 17rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  position: absolute;
  top: 80%;
  left: 67rem;
}
.btn_wid{
  padding: 0 65rem;
}

.btn_full{
  width: 100%;
  .flex_center;
}



.btn_type-1{
  background: #000000;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 13rem;
  line-height: 16rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #FFFFFF;
  .hover-btn;
  .animate;
}



.btn__icon-wrap{
  margin-right: 16rem;
  .flex_no-shrink;
}
.btn__icon{
  display: block;
  width: 10rem;
}
.btn_type-2{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14rem;
  line-height: 17rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.btn_type-2-small{
  font-size: 11rem;
  line-height: 16rem;
}

.btn_type-3{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14rem;
  line-height: 17rem;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  height: 25rem;
  .btn__icon-wrap{
    .animate;
  }
  &:hover{
    color: #6e6e6e;
    .btn__icon-wrap{
      transform: translate(-5rem, 0rem);
    }
  }
}
.btn_type-4{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14rem;
  line-height: 17rem;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  height: 25rem;
  padding: 0;
  .animate;
  &:hover{
    color: #6a6a6a;
  }
}
.input__label{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 8rem;
  line-height: 10rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 5rem;
  display: block;
}

.input__label-big{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 11rem;
  line-height: 13rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 10rem;
  display: block;
}
.input__field{
  height: 32rem;
  width: 100%;
  padding: 0 15rem;
  background: #FFFFFF;
  border: 1px solid #000000;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 11rem;
  line-height: 20rem;
}
.input__field_big{
  height: 59rem;
}
.input__field_type-2{
  background: #fff;
}

.input__field_type-1{
}
.input__row{
  margin-bottom: 25rem;
}
.field{
  position: relative;

}
.field__input{
  border: 1px solid #000000;
  height: 44rem;
  padding: 0 15rem;
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12rem;
  line-height: 15rem;
  /* identical to box height */
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #000000;
  padding-top: 10rem;
}



.field__label{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12rem;
  line-height: 15rem;
  /* identical to box height */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  pointer-events: none;
  color: #000000;
  position: absolute;
  left: 15rem;
  top: 16rem;
  .animate;
  &.active{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 9rem;
    line-height: 11rem;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    top: 7rem;
    color: #BBBBBB;
  }
}

.checkbox-type {
  .flex_inline;
  .flex_ac;
}
.checkbox-type input[type='checkbox'] {
  opacity: 0;
  width: 18rem;
  height: 18rem;
  margin: 0;
  margin-right: 15rem;
  .flex_no-shrink;
}
.checkbox-type label {
  display: inline-block;
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 8rem;
  line-height: 10rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
.checkbox-type label:before {
  content: "";
  display: block;
  clear: both;
  vertical-align: 0;
  width: 16rem;
  height: 16rem;
  position: absolute;
  left: -30rem;
  top: -5rem;
  border: 1px solid #000000;

}

.checkbox-type input[type='checkbox']:checked + label:after {
  display: block;
  clear: both;
  vertical-align: 0;
  display: inline-block;
  font-style: normal;
  left: -31rem;
  color: #fff;
  position: absolute;
  top: -6rem;
  content: '';
  width: 21rem;
  height: 18rem;
  background: url("../img/icons/check.svg") center no-repeat;
  background-size: contain;

}

.checkbox-type_type-1{
  &.checkbox-type label:before{
    background: #fff;
  }
}

.checkbox-type_type-3{
  &.checkbox-type label:before{
    background: #fff;
    top: 2rem;
  }
}

.checkbox-type.checkbox-type_type-3 input[type='checkbox']:checked + label:after {
  top: 0;
}

.checkbox-type_type-2{
  cursor: pointer;
  input[type='radio'] {
    opacity: 0;
    width: 18rem;
    height: 18rem;
    margin: 0;
    margin-right: 15rem;
    .flex_no-shrink;
  }

  label {
    font-family: TT Travels;
    font-size: 13rem;
    line-height: 16rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #B19370;
    display: inline-block;
    position: relative;
  }


  label:before {
    content: "";
    display: block;
    clear: both;
    vertical-align: 0;
    width: 16rem;
    height: 16rem;
    position: absolute;
    left: -30rem;
    top: 0-2rem;
    border: 0;
    background: #E5E5E5;
    border-radius: 50rem;

  }
  input[type='radio']:checked + label:after {
    display: block;
    left: -27rem;
    color: #fff;
    position: absolute;
    top: 1rem;
    content: '';
    width: 10rem;
    height: 10rem;
    background: linear-gradient(180deg, #EBC69D 4.66%, #987E60 100%);
    border-radius: 50rem;
  }

}
.btn_f-s-small{
  font-size: 12rem;
  line-height: 108.47%;
  letter-spacing: 0.2em;
}
.w_full{
  width: 100%;
}
.t_right{
  text-align: right;
}
.icon-wrap{
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.select-wrap{
  position: relative;
  border: 1px solid #000000;
  cursor: pointer;
  padding: 1px;
  &:after{
    content: '';
    display: block;
    position: absolute;
    .v_mid;
    right: 17rem;
    pointer-events: none;

    background: url(../img/icons/arr-bottom.svg) center no-repeat;
    ackground-size: 14rem 8rem;
    height: 8rem;
    width: 14rem;
    right: 14rem;
  }
  .select-wrap__element{
    border: 0;
  }
}

.select-wrap__element{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  height: 32rem;
  border: 1px solid #000000;
  background: none;
  width: 100%;
  padding: 0 17rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13rem;
  line-height: 26rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 0;
  background: #fff;
}

.center{
  padding: 0 30rem;
}

.textarea-wrap{

}
.textarea__element {
  height: 84rem;
  border: 1px solid #000000;
  padding: 20rem;
  width: 100%;
}

.scroll-custom{
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #E8E8E8;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #000000;
  }

  &::-webkit-scrollbar-thumb:horizontal{
    background: #000000;
  }
}
