.cart-list__wrap._crossing{
    background-color: #fff;
    border-bottom: 1px solid #000;
}
.cart-list__crossing-store-and-description {
    width: 300rem;
    padding-left: 20rem;
    margin-right: 19rem;
}
.cart-list__crossing-store {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.cart-list__crossing-description {
    font-size: 11px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.cart-list__crossing-date {
    padding: 0  0 10px;
    margin-bottom: 12px;
    border-bottom: 1px solid #000;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    font-style: normal;
    font-weight: normal;
}
.cart-list__crossing-brand {
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 11px;
    line-height: 26px;
    text-transform: uppercase;
}
